{
  "extends": "standard",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 14
  },
  "env": {
    "node": true,
    "es2020": true
  },
  "root": true,
  "rules": {
    "semi": ["error", "always"],
    "no-unused-vars": "warn",
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ]
  }
}
