.dbmigraterc
.powrc
node_modules
npm-debug.log
database.json
/docs
/coverage
/config.json
rsResult.txt
rs.txt
/e2e-tests/logs/*
.scripts/*.log
.scripts/importConfig.conf
.scripts/config.json
.scripts/results
.scripts/clientConfig
/logs/*
/test/logs/*
/node_modules/*
/node_modules/node-test-utils/*
/nbproject/
.idea
.tern-port
/public
